@model ProyectoDeSeguridad.Models.DnsServiceResponse.Rootobject

@{
    ViewData["Title"] = "Detalle de los Activos";
}

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Detalles </strong></h3>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="dnsTab" data-toggle="tab" href="#dns">API DNS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="categorizacionTab" data-toggle="tab" href="#categorizacion">API Web Categorization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sslTab" data-toggle="tab" href="#ssl">API SSL Certificate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reputacionTab" data-toggle="tab" href="#reputacion">Domain Reputation</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dns">
                        <div class="card-body">
                            @if (Model != null)
                            {
                                <h4>Status: @Model.status</h4>
                                <h4>Hostname: @Model.hostname</h4>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros A</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.A != null && Model.records.A.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var record in Model.records.A)
                                                {
                                                    <li class="list-group-item">
                                                        Dirección IP: @record.address, TTL: @record.ttl
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros A disponibles.</p>
                                        }
                                    </div>
                                </div>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros MX</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.MX != null && Model.records.MX.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var mxRecord in Model.records.MX)
                                                {
                                                    <li class="list-group-item">
                                                        Exchange: @mxRecord.exchange, Priority: @mxRecord.priority
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros MX disponibles.</p>
                                        }
                                    </div>
                                </div>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros NS</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.NS != null && Model.records.NS.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var nsRecord in Model.records.NS)
                                                {
                                                    <li class="list-group-item">
                                                        Nameserver: @nsRecord.nameserver
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros NS disponibles.</p>
                                        }
                                    </div>
                                </div>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros TXT</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.TXT != null && Model.records.TXT.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var txtRecord in Model.records.TXT)
                                                {
                                                    <li class="list-group-item">
                                                        TXT Record: @txtRecord
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros TXT disponibles.</p>
                                        }
                                    </div>
                                </div>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros CNAME</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.CNAME != null && Model.records.CNAME.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var cnameRecord in Model.records.CNAME)
                                                {
                                                    <li class="list-group-item">
                                                        CNAME Record: @cnameRecord
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros CNAME disponibles.</p>
                                        }
                                    </div>
                                </div>

                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5>Registros SOA</h5>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.records?.SOA != null && Model.records.SOA.Any())
                                        {
                                            <ul class="list-group">
                                                @foreach (var soaRecord in Model.records.SOA)
                                                {
                                                    <li class="list-group-item">
                                                        Nameserver: @soaRecord.nameserver, Hostmaster: @soaRecord.hostmaster
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No hay registros SOA disponibles.</p>
                                        }
                                    </div>
                                </div>

                            }
                            else
                            {
                                <p>No se encontraron datos de DNS para mostrar.</p>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="categorizacion">
                        <!-- Información de API Categorizacion -->
                        <div class="card-body">
                            <!-- Puedes mostrar la información de categorización aquí -->
                            <p>Contenido de la API Web Categorization.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="ssl">
                        <!-- Información de API SSL -->
                        <div class="card-body">
                            <!-- Puedes mostrar la información de SSL aquí -->
                            <p>Contenido de la API SSL Certificate.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="reputacion">
                        <!-- Información de API de Reputación -->
                        <div class="card-body">
                            <!-- Puedes mostrar la información de reputación aquí -->
                            <p>Contenido de la API Domain Reputation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /* Fondo y color de texto general */
    body {
        background-color: #d9d9d9; /* Color de fondo del cuerpo */
        color: #333; /* Color de texto general */
    }

    /* Estilo para las tarjetas */
    .card {
        margin-bottom: 20px; /* Espacio entre tarjetas */
        border: 1px solid rgba(0,0,0,.125); /* Borde de la tarjeta */
        border-radius: .25rem; /* Radio de borde de la tarjeta */
    }

    .card-header {
        background-color: #343a40; /* Color de fondo del encabezado de la tarjeta */
        color: #fff; /* Color de texto del encabezado de la tarjeta */
        font-weight: bold; /* Peso de la fuente del encabezado */
    }

    .card-body {
        background-color: #565656; /* Color de fondo del cuerpo de la tarjeta */
        color: #333; /* Color de texto dentro del cuerpo de la tarjeta */
        font-weight: normal; /* Peso de la fuente del cuerpo */
        padding: 15px; /* Espaciado interno del cuerpo de la tarjeta */
    }

    .nav-tabs {
        margin-bottom: 15px; /* Espacio entre las pestañas y el contenido */
    }

        .nav-tabs .nav-link {
            color: #333; /* Color del texto de las pestañas no activas */
            font-weight: bold; /* Peso de la fuente de las pestañas */
        }

            .nav-tabs .nav-link.active {
                background-color: #343a40; /* Color de fondo de la pestaña activa */
                color: #fff; /* Color de texto de la pestaña activa */
                border-color: #343a40; /* Color del borde de la pestaña activa */
            }

    /* Estilo para los listados y detalles */
    .list-group-item {
        background-color: #fff; /* Color de fondo de los elementos de lista */
        border-color: #ccc; /* Color del borde de los elementos de lista */
        color: #333; /* Color de texto de los elementos de lista */
        margin-bottom: 5px; /* Espacio entre elementos de lista */
    }

        .list-group-item strong {
            color: #000; /* Color del texto en negrita dentro de los elementos de lista */
        }

    .card-header h5 {
        margin-bottom: 0; /* Eliminar espacio inferior de los títulos de sección */
    }

    .info-box {
        background-color: #343a40; /* Color de fondo del cuadro de información */
        border: 1px solid #343a40; /* Borde del cuadro de información */
        padding: 10px; /* Espaciado interno del cuadro de información */
        margin-bottom: 15px; /* Espacio inferior del cuadro de información */
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dnsTab').tab('show');

            $('.nav-tabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
}


